root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.md]
trim_trailing_whitespace = false

[*.go]
indent_style = tab

[*.yml]
indent_size = 2

[*.xml]
indent_size = 2

[{Makefile,.envrc}]
indent_style = tab
