{{- range $index, $element := . }}
{{- if ne $element.SecretType "com.datapipe.jenkins.vault.credentials.VaultKubernetesCredential" }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ $element.Id | toLowerAndRemoveUnderscores}}
  annotations:
    jenkins.io/credentials-description: "{{ $element.Description }}"
  labels:
    jenkins.io/credentials-type: {{ $element.SecretType }}
type: Opaque
stringData:
{{- if eq $element.SecretType "usernamePassword" }}
  username: "{{ $element.Username }}"
  password: "{{ $element.Password }}"
{{- else if eq $element.SecretType "secretText" }}
  text: {{ $element.Secret }}
{{- else if eq $element.SecretType "secretFile" }}
  filename: "{{ $element.FileName }}"
data:
  data: {{ $element.SecretBytes }}
{{- else if eq $element.SecretType "certificate" }}
    {{- if $element.Password }}
  password: "{{ $element.Password }}"
    {{- end }}
data:
  certificate: {{ $element.UploadedKeystoreBytes }}
{{- else if eq $element.SecretType "basicSSHUserPrivateKey" }}
  username: {{ $element.Username }}
  privateKey: "{{ $element.PrivateKey }}"
  passphares: "{{ $element.Passphrase }}"
{{- else if eq $element.SecretType "aws" }}
  accessKey: {{ $element.AccessKey }}
  secretKey: {{ $element.SecretKey }}
{{- else if eq $element.SecretType "gitHubApp" }}
  owner: "{{ $element.Owner }}"
  appID: "{{ $element.AppId }}"
  privateKey: "{{ $element.PrivateKey }}"
{{- else if eq $element.SecretType "vaultApp" }}
  roleID: {{ $element.RoleID }}
  secretID: {{ $element.SecretID }}
  path: {{ $element.Path }}
  namespace: {{ $element.Namespace }}
  usePolicies: {{ $element.UsePolicies }}
{{- else if eq $element.SecretType "VaultGitHubToken" }}    
  accesToken: {{ $element.AccessToken }}
  mountPath: {{ $element.MountPath }}
  namespace: {{ $element.Namespace }}
{{- else if eq $element.SecretType "vaultToken" }}
  token: {{ $element.Token }}
{{- else if eq $element.SecretType "x509ClientCert" }}
    clientCertificate: "{{ $element.ClientCertificate }}"
    clientKeySecret: "{{ $element.ClientKeySecret }}"
    serverCaCertificate: "{{ $element.ServerCaCertificate }}"
{{- end }}
{{- end }}
{{- end }}